/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2018, 2:55:38 PM
    Author     : Administrator
*/
header {	
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
                    background-color:#A9E2F3;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 100% 100% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}
h1.header {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
                    color: #01A9DB;
	margin-bottom: 30px;
}  
.logo-img{
    float: left;
    margin: 0px 1px 1px 2px;        
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-bottom: 10px;
}  

body {
	font-family: 'Open Sans', sans-serif; 
	font-style: normal;
	/* [disabled]background-color: #F8F8F8; */
	background-image: url(../images/bkg_body_b.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-weight: normal;
	border: none
	border-top-width: 0px;
	border-top-style: solid;
	font-size: 15px;
	height: 100%;
	width:100%;             
}

body, html{
	height: 90%;
                    width:90%;  
}

.btn-group2 input {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: #01A9DB; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group2:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group2 input:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group2 input:hover {
    background-color: green;
}
.btn-group2 input notReleased{
    background-color:rgb;
}    
input[type=button], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: #01A9DB;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}    

/* Aqua button */
.btn-group input {
	-moz-box-shadow:inset 0px 1px 5px 0px #05DCBA
	-webkit-box-shadow:inset 0px 1px 5px 0px #05DCBA;
	box-shadow:inset 1px 1px 1px 0px rgba(164, 233, 206, 0.8), 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
	border-color:rgba(164, 233, 206, 0.6) rgba(228, 228, 228, 0.8) rgba(228, 228, 228, 0.8) rgba(164, 233, 206, 0.6);
	background-color:#479D9B;
		
	/* Add a background gradient */ 
	/* IE8, 9 can only have border radius or gradients*/ 
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#479D9B, endColorstr=#A4E9CE); */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #A9E2F3 5%, #A4E9CE 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #A9E2F3 5%, #A4E9CE 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #A9E2F3 5%, #A4E9CE 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A9E2F3), color-stop(1, #A4E9CE));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #A9E2F3 5%, #A4E9CE 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #A9E2F3 5%, #A4E9CE 100%);
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;

	display:inline-block;
	color: #01A9DB;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
}

.btn-group input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A4E9CE), color-stop(1, #A9E2F3) );
	background:-moz-linear-gradient( center top, #A4E9CE 5%, #A9E2F3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4E9CE', endColorstr='#A9E2F3');
	background-color:#A4E9CE;
	cursor: pointer;
                   color: azure;
}

.btn-group input:active {
	position:relative;
	top:1px;
}

