<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TstDataSample</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.data.TstDataSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBActions</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.DBActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>specQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.specQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config._TestingConfigSamplingPlanStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQuantitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSop</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingConfigSop</servlet-class>
    </servlet>
    <!-- testing for the Platform.Begin -->
    <servlet>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMConversionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMFamilyTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logSample</servlet-name>
        <servlet-class>com.labplanet.servicios.frontend.logSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sampleAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleSample.sampleAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticationAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.authenticationAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInfoAPI</servlet-name>
        <servlet-class>frontEnd.api._userInfoAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appHeaderAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.appHeaderAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sampleAPIfrontend</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleSample.sampleAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppProcedureList</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AppProcedureListAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sopUser</servlet-name>
        <servlet-class>com.labplanet.servicios.app.sopUserAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sopUserAPIfrontend</servlet-name>
        <servlet-class>com.labplanet.servicios.app.sopUserAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataBatchArr</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.data.TstDataBatchArr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataBatchArrSequence</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.data.TstDataBatchArrSequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batchAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleBatch.batchAPI</servlet-class>
    </servlet>
    <!--// testing for the Platform. End  
    
// testing for the Config. Begin -->
    <servlet>
        <servlet-name>TestingConfig_specQuantitative_ruleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.noDB.TestingConfig_specQuantitative_ruleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfig_specQualitative_ruleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.noDB.TestingConfig_specQualitative_ruleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureDeployment</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.ProcedureDeployment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataEnvMonit</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.module.envmonit.TstDataEnvMonit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envMonAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleEnvMonit.envMonAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envMonAPIfrontend</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleEnvMonit.envMonAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envMonitSampleAPIfrontend</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleEnvMonit.envMonitSampleAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testingServer</servlet-name>
        <servlet-class>com.labplanet.servicios.app.testingServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responseError</servlet-name>
        <servlet-class>com.labplanet.servicios.responseError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responseTheError</servlet-name>
        <servlet-class>com.labplanet.servicios.responseTheError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responseSuccess</servlet-name>
        <servlet-class>com.labplanet.servicios.responseSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticationAPIParams</servlet-name>
        <servlet-class>com.labplanet.servicios.app.authenticationAPIParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>globalAPIsParams</servlet-name>
        <servlet-class>com.labplanet.servicios.app.globalAPIsParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sampleAPIParams</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleSample.sampleAPIParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procedureDefinitionToInstance</servlet-name>
        <servlet-class>com.labplanet.servicios.Requirements.procedureDefinitionToInstance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBActions</servlet-name>
        <url-pattern>/testing/platform/DBActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <url-pattern>/testing/config/resultCheckSpecQualitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <url-pattern>/testing/config/resultCheckSpecQuantitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSop</servlet-name>
        <url-pattern>/testing/config/Sop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <url-pattern>/testing/config/samplingPlanStructure</url-pattern>
    </servlet-mapping>
    <!--/ testing for the Config. End    
// testing for the Data. Begin -->
    <servlet-mapping>
        <servlet-name>TstDataSample</servlet-name>
        <url-pattern>/Testing/DB/TstDataSample</url-pattern>
    </servlet-mapping>
    <!--/// testing for the Data. End   -->
    <servlet-mapping>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <url-pattern>/testing/config/UOMConversionTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <url-pattern>/testing/config/UOMFamilyTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleAPI</servlet-name>
        <url-pattern>/moduleSample/sampleAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticationAPI</servlet-name>
        <url-pattern>/frontEnd/authenticationAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInfoAPI</servlet-name>
        <url-pattern>/userInfoAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appHeaderAPI</servlet-name>
        <url-pattern>/frontEnd/appHeaderAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleAPIfrontend</servlet-name>
        <url-pattern>/frontEnd/sampleAPIfrontEnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppProcedureList</servlet-name>
        <url-pattern>/fronEnd/AppProcedureList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sopUserAPIfrontend</servlet-name>
        <url-pattern>/frontEnd/sopUserAPIfrontend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataBatchArr</servlet-name>
        <url-pattern>/Testing/DB/TstDataBatchArr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataBatchArrSequence</servlet-name>
        <url-pattern>/Testing/DB/TstDataBatchArrSequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchAPI</servlet-name>
        <url-pattern>/moduleBatch/batchAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfig_specQuantitative_ruleFormat</servlet-name>
        <url-pattern>/testing/config/noDB/TestingConfig_specQuantitative_ruleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfig_specQualitative_ruleFormat</servlet-name>
        <url-pattern>/testing/config/noDB/TestingConfig_specQualitative_ruleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureDeployment</servlet-name>
        <url-pattern>/testing/platform/ProcedureDeployment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataEnvMonit</servlet-name>
        <url-pattern>/Testing/DB/TstDataEnvMonit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envMonAPI</servlet-name>
        <url-pattern>/moduleEnvMon/envMonAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envMonAPIfrontend</servlet-name>
        <url-pattern>/frontEnd/envMonAPIfrontend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envMonitSampleAPIfrontend</servlet-name>
        <url-pattern>/frontEnd/envMonitSampleAPIfrontend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testingServer</servlet-name>
        <url-pattern>/app/testingServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responseError</servlet-name>
        <url-pattern>/responseError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responseTheError</servlet-name>
        <url-pattern>/responseTheError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responseSuccess</servlet-name>
        <url-pattern>/responseSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticationAPIParams</servlet-name>
        <url-pattern>/authenticationAPIParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>globalAPIsParams</servlet-name>
        <url-pattern>/globalAPIsParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleAPIParams</servlet-name>
        <url-pattern>/sampleAPIParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procedureDefinitionToInstance</servlet-name>
        <url-pattern>/procedureDefinitionToInstance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sopUser</servlet-name>
        <url-pattern>/app/sopUserAPI</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
