<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>com.labplanet.servicios.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateServlet</servlet-name>
        <servlet-class>com.labplanet.servicios.AuthenticateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.labplanet.servicios.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>com.labplanet.servicios.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataSampleStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.dataSampleStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UT_moduleSample</servlet-name>
        <servlet-class>com.labplanet.servicios.UT_moduleSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBQueries</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.DBQueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBActions</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.DBActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>specQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.specQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>config_specQuantitativeRuleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.config_specQuantitativeRuleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config._TestingConfigSamplingPlanStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQualitative</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateServlet</servlet-name>
        <url-pattern>/AuthenticateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataSampleStructure</servlet-name>
        <url-pattern>/dataSampleStructure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UT_moduleSample</servlet-name>
        <url-pattern>/UT_moduleSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBQueries</servlet-name>
        <url-pattern>/DBQueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBActions</servlet-name>
        <url-pattern>/DBActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>specQualitative</servlet-name>
        <url-pattern>/testing/config/specQualitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config_specQuantitativeRuleFormat</servlet-name>
        <url-pattern>/config_specQuantitativeRuleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <url-pattern>/TestingConfigSamplingPlanStructure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <url-pattern>/testing/config/ResultCheckSpecQualitative</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
