<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.labplanet.servicios.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>com.labplanet.servicios.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServicio</servlet-name>
        <servlet-class>com.labplanet.servicios.ProductoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataSampleStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.dataSampleStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UT_moduleSample</servlet-name>
        <servlet-class>com.labplanet.servicios.UT_moduleSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBQueries</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.DBQueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBActions</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.Platform.DBActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>specQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.specQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>config_specQuantitativeRuleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.config_specQuantitativeRuleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config._TestingConfigSamplingPlanStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQuantitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSop</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingConfigSop</servlet-class>
    </servlet>
    <!-- testing for the Platform.Begin -->
    <servlet>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMConversionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMFamilyTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdServicio</servlet-name>
        <servlet-class>com.labplanet.servicios.ProdServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>samplesToReceive</servlet-name>
        <servlet-class>com.labplanet.servicios.frontend.samplesToReceive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logSample</servlet-name>
        <servlet-class>com.labplanet.servicios.frontend.logSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sampleAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleSample.sampleAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticationAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.authenticationAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInfoAPI</servlet-name>
        <servlet-class>frontEnd.api._userInfoAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appHeaderAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.appHeaderAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sampleAPIfrontend</servlet-name>
        <servlet-class>com.labplanet.servicios.ModuleSample.sampleAPIfrontend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBActions</servlet-name>
        <url-pattern>/testing/platform/DBActions</url-pattern>
    </servlet-mapping>
    <!--// testing for the Platform. End  

// testing for the Config. Begin -->
    <servlet-mapping>
        <servlet-name>specQualitative</servlet-name>
        <url-pattern>/testing/config/specQualitativeRuleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config_specQuantitativeRuleFormat</servlet-name>
        <url-pattern>/testing/config/specQuantitativeRuleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <url-pattern>/testing/config/resultCheckSpecQualitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <url-pattern>/testing/config/resultCheckSpecQuantitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSop</servlet-name>
        <url-pattern>/testing/config/Sop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <url-pattern>/testing/config/samplingPlanStructure</url-pattern>
    </servlet-mapping>
    <!--/ testing for the Config. End    

// testing for the Data. Begin -->
    <servlet-mapping>
        <servlet-name>dataSampleStructure</servlet-name>
        <url-pattern>/testing/data/dataSampleStructure</url-pattern>
    </servlet-mapping>
    <!--/// testing for the Data. End   -->
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UT_moduleSample</servlet-name>
        <url-pattern>/UT_moduleSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBQueries</servlet-name>
        <url-pattern>/DBQueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <url-pattern>/testing/config/UOMConversionTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <url-pattern>/testing/config/UOMFamilyTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdServicio</servlet-name>
        <url-pattern>/ProdServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>samplesToReceive</servlet-name>
        <url-pattern>/frontend/samplesToReceive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logSample</servlet-name>
        <url-pattern>/frontEnd/logSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleAPI</servlet-name>
        <url-pattern>/moduleSample/sampleAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticationAPI</servlet-name>
        <url-pattern>/frontEnd/authenticationAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInfoAPI</servlet-name>
        <url-pattern>/userInfoAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appHeaderAPI</servlet-name>
        <url-pattern>/frontEnd/appHeaderAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleAPIfrontend</servlet-name>
        <url-pattern>/frontEnd/sampleAPIfrontEnd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
